h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
  color: inherit;
  border: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
