@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-weight: 400;
  src: local('DM Sans'), url('/fonts/DMSans-Regular.woff2') format('woff2'),
    url('/fonts/DMSans-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  src: local('DM Sans'), url('/fonts/DMSans-Italic.woff2') format('woff2'),
    url('/fonts/DMSans-Italic.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-weight: 500;
  src: local('DM Sans'), url('/fonts/DMSans-Medium.woff2') format('woff2'),
    url('/fonts/DMSans-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: local('DM Sans'), url('/fonts/DMSans-Bold.woff2') format('woff2'),
    url('/fonts/DMSans-Bold.woff') format('woff');
}
