:root {
  /* брендовий текст, кнопка, hover */
  --primary-brand-color: #fd9222;
  /* ховер на кнопку, елементи модалок */
  --secondary-brand-color: #fcf1e0;
  /* чорний текст, icon */
  --primary-text-color: #111111;
  /* білий текст */
  --inverted-text-color: #ffffff;
  /* сірий текст */
  --light-text-color: rgba(17, 17, 17, 0.7);
  /* сіра окантовка кнопок*/
  --light-stroke-color: rgba(17, 17, 17, 0.1);
  /* текст в інпут-плейсхолдерах */
  --placeholder-text-color: rgba(64, 64, 64, 0.4);
  /* сірий фон */
  --light-background-color: #fafafa;
  /* темно фіолетовий фон */
  --dark-background-color: #1e1823;
  /* колір бекдропу для модалок */
  --backdrop-color: rgba(30, 24, 35, 0.3);
  /* ще якийсь білий колір з макету */
  --white-color: #fafafa;
  /* стандартний час і функція для транзишинів */
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
