.button {
  border: 1px solid transparent;
  border-radius: 999em;
  background-color: var(--brand-light);
  line-height: 1.285;
  /* typography */
  font-weight: 700;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .button-brand,
  .button-brand-ghost,
  .link-brand,
  .link-brand-ghost {
    padding: 14px 40px;
  }
}

.button:hover,
.button:focus {
  border: 2px solid var(--brand-dark);
}

.button-brand-ghost,
.link-brand-ghost {
  background-color: transparent;
  border: 1px solid var(--white-color);
}

.button-brand-ghost:hover,
.button-brand-ghost:focus,
.link-brand-ghost:hover,
.link-brand-ghost:focus {
  color: var(--primary-brand-color);
  border-color: var(--primary-brand-color);
}

.link-brand:hover,
.link-brand-ghost:hover {
  cursor: pointer;
}
