.button-brand,
.button-brand-ghost,
.link-brand,
.link-brand-ghost {
  border-radius: 999em;
  padding: 12px 28px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--white-color);
  transition: background-color var(--transition-dur-and-func),
    color var(--transition-dur-and-func), border var(--transition-dur-and-func);
}

@media screen and (min-width: 768px) {
  .button-brand,
  .button-brand-ghost,
  .link-brand,
  .link-brand-ghost {
    padding: 14px 40px;
  }
}

.button-brand,
.link-brand {
  background-color: var(--primary-brand-color);
}

.button-brand:hover,
.button-brand:focus,
.link-brand:hover,
.link-brand:focus {
  background-color: var(--secondary-brand-color);
  color: var(--primary-brand-color);
}

.button-brand-ghost,
.link-brand-ghost {
  background-color: transparent;
  border: 1px solid var(--white-color);
}

.button-brand-ghost:hover,
.button-brand-ghost:focus,
.link-brand-ghost:hover,
.link-brand-ghost:focus {
  color: var(--primary-brand-color);
  border-color: var(--primary-brand-color);
}

.link-brand:hover,
.link-brand-ghost:hover {
  cursor: pointer;
}
