.button {
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 999em;
  line-height: 1.285;
  /* typography */
  font-weight: 700;
  text-transform: uppercase;
  transition: border var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}

@media screen and (min-width: 768px) {
  .button-brand,
  .button-brand-ghost,
  .link-brand,
  .link-brand-ghost {
    padding: 14px 40px;
  }
}

.button-brand-ghost,
.link-brand-ghost {
  background-color: transparent;
  border: 2px solid var(--white-color);
}

.button:hover,
.button-brand-ghost:hover {
  border-color: var(--brand-dark);
}

.link-brand:hover,
.link-brand-ghost:hover {
  cursor: pointer;
}
