.card-backdrop {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--overlay-bg);
}

.card-modal {
  position: absolute;
  width: 335px;
  padding: 40px 24px;
  border: 2px solid var(--modal-border);
  background: var(--body-bg);
  border-radius: 18px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .card-modal {
    width: 579px;
    padding: 40px;
  }
}

.card-modal.modal-active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .card-info {
    flex-direction: row;
    gap: 24px;
    margin-bottom: 40px;
  }
}

.card-image {
  width: 287px;
  height: 408px;
  border-radius: 8px;
}

.card-icon {
  width: 50px;
  height: 50px;
}

.card-icon.amazon {
  width: 66px;
  fill: var(--logo-text-color);
}

.card-icon.book-shop {
  width: 45px;
  height: 45px;
  fill: var(--logo-text-color);
}

@media screen and (min-width: 768px) {
  .card-image {
    width: 192px;
    height: 281px;
  }
}

.card-description {
}

.card-name {
  color: var(--card-modal-text);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .card-name {
    width: 255px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: -0.96px;
    margin-bottom: 8px;
  }
}

.card-author {
  color: var(--brand-stone-color);
  font-size: 12px;
  font-style: italic;
  line-height: 1.16;
  letter-spacing: -0.48px;
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .card-author {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.56px;
    margin-bottom: 20px;
  }
}

.card-text {
  color: var(--card-modal-text);
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .card-text {
    margin-bottom: 20px;
  }
}

.card-buy-items {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  height: 60px;
}

.card-link {
}

/* .card-link-image:hover {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
} */

.card-button {
  display: block;
  margin: 0 auto;
  min-width: 215px;
  padding: 14px 0px;
  margin-bottom: 8px;

  color: var(--card-modal-text);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  text-transform: uppercase;

  border-radius: 40px;
  border: 2px solid #4f2ee8;
  background: transparent;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-button:hover {
  background-color: #4f2ee8;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .card-button {
    width: 100%;
    padding: 20px 0;

    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }
}

.card-footer-congrad {
  width: 242px;
  margin: 0 auto;
  color: var(--card-modal-footer);
  text-align: center;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.4px;
}

@media screen and (min-width: 768px) {
  .card-footer-congrad {
    width: 324px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: -0.48px;
  }
}
