.sidebar {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  row-gap: 40px;
}

@media screen and (min-width: 768px) {
  .sidebar {
    flex-direction: row;
    margin-bottom: 100px;
    column-gap: 32px;
    row-gap: 66px;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar {
    flex-direction: column;
  }
}

.categories_list {
  display: flex;
  flex-direction: column;

  width: 335px;
  height: 228px;
  overflow-y: scroll;

  gap: 24px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .categories_list {
    width: 337px;
    height: 472px;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .categories_list {
    width: 356px;
  }
}

.categories_list--item {
  color: var(--text-transparent);
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.32px;

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .categories_list--item {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}

.categories_list--item.current {
  color: var(--link-highlight);
  font-weight: 700;
  text-transform: uppercase;

  min-height: 23.938px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--slider-color);
  border-radius: 12px;
}
