.charity {
  position: relative;
  padding-top: 24px;
  padding-left: 40px;

  width: 335px;
  height: 352px;
  border-radius: 16px;
  background: var(--brand-dark-radial-gradient);
  box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
}

@media screen and (min-width: 768px) {
  .charity {
    height: 472px;
  }
}

@media screen and (min-width: 1440px) {
  .charity {
    width: 356px;
    height: 490px;
  }
}

.charity-header {
  display: flex;
  gap: 12px;
}

.charity-title {
  margin-bottom: 40px;
  color: var(--white);
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.12px;
}

.charity-logo {
  width: 20px;
  height: 32px;
}

.charity-list {
  width: 164px;
  height: 198px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 5px;
}

.charity-list::-webkit-scrollbar {
  width: 0px;
}

@media screen and (min-width: 768px) {
  .charity-list {
    height: 292px;
  }
}

.charity-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.counter {
  color: var(--white);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.charity-item:not(:last-child) {
  margin-bottom: 20px;
}

.charity-item:hover .counter {
  font-weight: bold;
  transition: font-weight var(--transition-dur-and-func);
}

.btn-scroll {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--white);

  margin-top: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .btn-scroll {
    width: 38px;
    height: 38px;
    margin-top: 32px;
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .btn-scroll {
    margin-top: 40px;
    margin-bottom: 24px;
  }
}

.btn-scroll:hover,
.btn-scroll:focus {
  background-color: var(--brand-dark);
  transition: background-color var(--transition-dur-and-func);
}

.foundation-logo {
  height: 32px;
}

.foundation-logo:hover {
  transform: scale(1.05);
  transition: transform var(--transition-dur-and-func);
}

.arrow-down {
  width: 20px;
  height: 20px;
  fill: var(--brand-dark);
  transition: transform var(--transition-dur-and-func);
}

@media screen and (min-width: 768px) {
  .arrow-down {
    width: 22px;
    height: 22px;
  }
}

.btn-scroll:hover .arrow-down {
  fill: var(--white);
  transition: fill var(--transition-dur-and-func);
}

.btn-scroll:focus .arrow-down {
  fill: var(--white);
  transition: fill var(--transition-dur-and-func);
}

.btn-scroll:focus .arrow-down {
  fill: var(--white);
}

.arrow-up {
  transform: rotate(180deg);
  transition: transform var(--transition-dur-and-func);
}
