.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 375px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
    width: 768px;
  }

  .home.container {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 24px;
    width: 1440px;
  }

  .home.container {
    display: flex;
  }
}

.home.container {
  padding-top: 40px;
  padding-bottom: 80px;
  column-gap: 40px;
}
