.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 375px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
    width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 24px;
    width: 1440px;
  }
}

main > .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  main > .container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
  }
}

@media screen and (min-width: 1440px) {
  main > .container {
    flex-direction: row;
    column-gap: 40px;
  }
}
