.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  height: 64px;
  /* padding: 18px 20px; */
  justify-content: center;
  align-items: center;
  gap: 144px;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--text-primary-color);
  background-color: var(--header-bg);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    height: 72px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    width: 1440px;
  }
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 76px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

@media screen and (min-width: 1440px) {
  .nav {
    gap: 76px;
  }
}

.logo {
  display: flex;
}

.header-logo {
  width: 24px;
  padding-right: 8px;
}

.header-logo-text {
  width: 77px;
  fill: #747bff;
}

.menu-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    gap: 40px;
    flex-grow: 2;
  }
}

.nav-item {
  padding: 8px 16px;
}

.nav-icon {
  width: 20px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  border: 2px solid var(--brand-light);
}

.nav-link:hover,
.nav-link:focus {
}

@media screen and (max-width: 768px) {
  .user-block,
  .login {
    display: none;
  }
}

.burger-menu {
  width: 28px;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}
