.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  height: 64px;
  /* padding: 18px 20px; */
  justify-content: center;
  align-items: center;
  gap: 144px;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--text-primary-color);
  background-color: var(--header-bg);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header {
    height: 72px;
  }
}

.header .container {
  position: absolute;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 76px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

@media screen and (min-width: 1440px) {
  .nav {
    gap: 76px;
  }
}

.logo {
  display: flex;
}

.header-logo {
  width: 24px;
  padding-right: 8px;
}

.header-logo-text {
  width: 77px;
  fill: var(--brand-dark);
}

.menu-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    gap: 40px;
    flex-grow: 2;
  }
}

.icon-btn {
  width: 20px;
}

.nav-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  /* border: 2px solid var(--brand-light); */
}

/* .nav-button:hover,
  .nav-button:focus {
  } */

.user-block {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .user-block,
  .login {
    display: none;
  }
}

.burger-menu {
  width: 28px;
}

@media screen and (min-width: 767px) {
  .burger-menu {
    display: none;
  }
}

.login-wrapper {
  display: inline-flex;

  align-items: center;
  gap: 10px;
}

.login-img {
  width: 25px;
  height: 25px;
}

.hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .hidden {
    display: none;
  }
}

.burger-menu_container {
  position: absolute;
  top: calc(99%);
  left: 0;

  background-color: aqua;
  width: 100%;
  height: 100%;
}
