.header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  height: 64px;
  /* padding: 18px 20px; */
  justify-content: center;
  align-items: center;
  gap: 144px;
  border-radius: 0px 0px 8px 8px;
  border: 1.5px solid var(--text-primary-color);
  background-color: var(--header-bg);
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .header {
    height: 72px;
  }
}

.header .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 76px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

@media screen and (min-width: 1440px) {
  .nav {
    gap: 76px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  width: 24px;
  padding-right: 8px;
}

.header-logo-text {
  font-size: 18px;
  font-weight: 600;
  color: var(--header-logo);
}

.header .menu-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-list {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    gap: 40px;
    flex-grow: 2;
  }
}

.icon-btn {
  width: 20px;
}

.nav-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 8px 16px;
  /* border: 2px solid var(--brand-light); */
}

/* .nav-button:hover,
  .nav-button:focus {
  } */

.user-block {
  position: relative;

  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header .user-block,
  .header .login {
    display: none;
  }
}

.login-wrapper {
  position: relative;
  height: 45px;
}

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateY(0);

  display: flex;
  padding: 12px;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  opacity: 0;
  color: #111;
  border-radius: 18px;
  border-radius: 36px;
  border: 1.5px solid #111;
  background: #fff;
  user-select: none;

  transition: transform var(--transition-dur-and-func) 200ms,
    opacity var(--transition-dur-and-func) 200ms;
}

.login {
  display: flex;
  padding: 12px;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  /* opacity: 0; */
  color: #fff;
  border-radius: 18px;
  border-radius: 36px;
  border: 1.5px solid #111;
  background: #4f2ee8;
  user-select: none;
}

.login-wrapper_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-wrapper:hover .logout,
.login-wrapper:focus .logout {
  /* overflow-y: visible;
  height: auto; */
  transform: translateY(100%);
  opacity: 1;
}

.login-wrapper_container .user {
  display: flex;
  align-items: center;
  padding: 4px 12px;

  min-height: 45px;

  border-radius: 36px;
  background-color: #4f2ee8;
}

.login-wrapper_container .login-name {
  margin: 0px 4px 0 0;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.44px;
  user-select: none;
}

@media screen and (min-width: 767px) {
  .burger-menu {
    display: none;
  }
}

.login-img {
  width: 37px;
  height: 37px;
  margin-right: 9px;
}

.hidden {
  display: none;
}

.burger-menu_icon {
  display: block;
  fill: var(--burger-color);
}
