@media screen and (min-width: 768px) {
  .mobile-menu-container {
    display: none;
  }
}

.mobile-menu-container {
  /* z-index: 1; */
  /* position: fixed; */
  top: 0;
  bottom: 0;

  right: 0;

  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );

  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.mobile-container-user {
  display: flex;
  gap: 9px;
  align-items: center;

  /* margin-top: 20px; */
}

.mobile-menu-user-icon {
  width: 37px;
}

.mobile-menu-user {
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.02em;

  color: var(--brand-black);
}

.mobile-container-home {
  background-color: var(--brand-light);

  margin-right: auto;
  margin-left: auto;
  width: 72px;
  height: 34px;
  padding: 8px 16px 8px 16px;
  border-radius: 36px;
  gap: 10px;

  margin-top: 126px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-home {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;

  color: var(--brand-black);
}

.mobile-container-list {
  margin-top: 17px;
  display: flex;
  justify-content: center;

  gap: 4px;
}

.mobile-menu-Shop-list {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;
}

.mobile-container-log-out {
  background-color: var(--white);

  width: 118px;
  height: 48px;

  border: 1.5px solid var(--brand-black);
  border-radius: 18px;

  margin-top: 428px;
  gap: 2px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-log-out {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;

  color: var(--brand-black);
}

.bg-img {
  background-image: url(/src/img/bg-mobile-menu.png);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
