.mobile-menu-container {
  position: relative;
  background-image: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );
}

.mobile-container-user {
  display: flex;
  gap: 9px;
  align-items: center;

  margin-top: 20px;
}

.mobile-menu-user-icon {
  width: 37px;
}

.mobile-menu-user {
  font-size: 22px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: -0.02em;
}

.mobile-container-home {
  background-color: aqua;

  margin-right: auto;
  margin-left: auto;
  width: 72px;
  height: 34px;
  padding: 8px 16px 8px 16px;
  border-radius: 36px;
  gap: 10px;

  margin-top: 130px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu-home {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
}

.mobile-container-list {
  margin-top: 16px;
  display: flex;
  justify-content: center;

  gap: 4px;
}

.mobile-menu-Shop-list {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;
}

.mobile-container-log-out {
  background-color: var(--primary-brand-color);
  max-width: 118px;
  max-height: 48px;
  border-radius: 18px;
  border: 1.5px;

  margin-top: 428px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

  gap: 2px;

  display: flex;

  justify-content: center;
  align-items: center;
}

.mobile-menu-log-out {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.04em;
}

.bg-img {
  background-image: url(/src/img/bg-mobile-menu.png);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
