.sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .sidebar {
    flex-direction: row;
    column-gap: 32px;
    row-gap: 66px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar {
    flex-direction: column;
    margin-bottom: 40px;
  }
}

.charity {
}
.bookshelf {
}
