.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #4f2ee8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

/* .is-hidden .modal {
  transform: translateY(100%);
} */

.register-modal {
  position: absolute;
  width: 335px; /* Изменено на 335px для мобильного */
  height: 384px; /* Изменено на 384px для мобильного */
  padding: 40px 20px;
  border: 2px solid #111;
  background: #f6f6f6;
  border-radius: 18px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .register-modal {
    width: 579px; /* Изменено на 579px для экрана > 768px */
    height: 516px; /* Изменено на 516px для экрана > 768px */
    padding: 80px 40px 40px 40px;
  }
}

.close-button {
  position: absolute;
  top: 14px;
  right: 14px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  width: 100%;
}

.input-field {
  box-sizing: border-box;
  width: 295px;
  height: 50px;
  padding: 0 24px;
  outline: none;
  border-radius: 40px;
  border: 2px solid #111;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-input:focus {
  /* color: var(--accent-color);
  border-color: currentColor; */
}

@media screen and (min-width: 768px) {
  .input-field {
    min-width: 100%;
    height: 64px;
  }
}

.input-field::placeholder {
  color: #111;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.16px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .input-field::placeholder {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }
}

.form-button {
  height: 50px;
  min-width: 295px;

  margin-bottom: 14px;
  padding: 0;
  color: #f3f3f3;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.16px;
  text-transform: uppercase;
  background: #111;
  border-radius: 40px;
}

.form-button:focus {
  /* color: var(--accent-color);
  border-color: currentColor; */
}

@media screen and (min-width: 768px) {
  .form-button {
    min-width: 100%;
    height: 64px;
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }
}

.input-svg {
  position: absolute;
  right: 24px;
}

@media screen and (min-width: 768px) {
  .input-svg {
    right: 32px;
  }
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.toggle-button {
  background-color: transparent;
  color: rgba(17, 17, 17, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .toggle-button {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }
}

.toggle-button.active {
  color: #4f2ee8;
  text-decoration: underline;
}

.toggle-button:hover,
.toggle-button:active {
  color: #4f2ee8;
  text-decoration: underline;
}
