/* The theme-switcher - the box around the slider */
.theme-switcher {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 24px;
}

/* Hide default HTML checkbox */
.theme-switcher input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.1))
    drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1))
    drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}
