.modal {
  position: absolute;
  width: 335px;
  height: 384px;
  padding: 40px 20px;
  border: 2px solid var(--modal-border);
  background: var(--body-bg);
  border-radius: 18px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 579px;
    height: 516px;
    padding: 80px 40px 40px 40px;
  }
}

.singin-modal {
  height: auto;
}

@media screen and (min-width: 768px) {
  .singin-modal {
    padding: 80px 40px 40px 40px;
  }
}

.close-button {
  position: absolute;
  top: 14px;
  right: 14px;

  background-color: transparent;
}

.close-button svg path {
  stroke: var(--modal-icons-color);
}

.close-button svg {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .close-button {
    position: absolute;
    top: 24px;
    right: 24px;

    background-color: transparent;
  }

  .close-button svg {
    width: 28px;
    height: 28px;
  }
}

.close-button:hover svg path {
  stroke: var(--brand-dark);

  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  width: 100%;
}

.input-field {
  box-sizing: border-box;
  width: 295px;
  height: 50px;
  padding: 0 24px;
  outline: none;
  border-radius: 40px;
  color: var(--text-primary-color);
  border: 2px solid var(--modal-border);
  background-color: var(--modal-field-background);

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper svg path {
  stroke: var(--modal-icons-color);

  transition-property: stroke;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:hover .input-field {
  border-color: var(--brand-dark);
}

.input-wrapper:hover .input-field::placeholder {
  color: var(--brand-dark);
}

.input-wrapper:hover svg path {
  stroke: var(--brand-dark);
}

@media screen and (min-width: 768px) {
  .input-field {
    min-width: 100%;
    height: 64px;
  }
}

.input-field::placeholder {
  color: var(--text-primary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.16px;
  text-transform: uppercase;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .input-field::placeholder {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }
}

.form-button {
  height: 50px;
  min-width: 295px;

  margin-bottom: 14px;
  padding: 0;
  color: var(--text-inversed-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.16px;
  text-transform: uppercase;
  background: var(--modal-button-background);
  border-radius: 40px;
}

@media screen and (min-width: 768px) {
  .form-button {
    min-width: 100%;
    height: 64px;
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }
}

.input-svg {
  position: absolute;
  right: 24px;

  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) {
  .input-svg {
    right: 32px;

    width: 28px;
    height: 28px;
  }
}

.toggle-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.toggle-button {
  background-color: transparent;
  color: var(--text-transparent);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-transform: uppercase;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .toggle-button {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -0.18px;
  }
}

.toggle-button.active {
  color: #4f2ee8;
  text-decoration: underline;
}

.toggle-button:hover {
  color: #4f2ee8;
}
