.backdrop {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #4f2ee8;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
