<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Title -->
    <title>Bookshelf</title>

    <!-- Styles -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <load ="partials/header.html" />
    <p>This is categories page</p>

    <!-- Sedebar -->
    <section class="sidebar">
      <load ="partials/sidebar.html.html" />
    </section>

    <script type="module" src="/main.js"></script>
  </body>
</html>
