<div class="container mobile-menu-container">


    <div class="mobile-container-user">
        <img src="../img/user.png" alt="" class="mobile-menu-user-icon" />
        <p class="mobile-menu-user">Stephen</p>
    </div>

    <div class="mobile-container-home">
        <a href="#" class="mobile-menu-home">
            Home
        </a>

    </div>


    <div class="mobile-container-list">

        <p class="mobile-menu-Shop-list">Shopping list</p>
        <img src="../svg/uil_cart.svg" alt="" class="nav-icon" />

    </div>


    <div class="mobile-container-log-out">
        <a href="#" class="mobile-menu-log-out">
            Log out
        </a>
        <img src="../svg/arrow-narrow-right.svg" alt="" class="nav-icon" />
    </div>





    <div class="bg-img"></div>

</div>