<div class="backdrop" data-modal-signIn>
  <!-- sign in modal -->
  <div class="singin-modal modal">
    <button class="close-button" type="button" data-close-modal-signIn>
      x
    </button>

    <form id="singin-form" class="singin-form">
      <div class="input-wrapper">
        <input
          class="input-field"
          type="email"
          name="email"
          placeholder="Email"
          id="singin-email"
          required
        />
        <div class="input-svg">img</div>
      </div>

      <div class="input-wrapper">
        <input
          class="input-field"
          type="password"
          name="password"
          placeholder="Password"
          id="singin-password"
        />
        <div class="input-svg">img</div>
      </div>

      <button class="form-button singin-button" type="submit">Sign in</button>

      <div class="toggle-buttons">
        <button
          class="toggle-button active"
          id="sign-up-button-2"
          type="button"
        >
          Sign up
        </button>
        <button class="toggle-button" id="sign-in-button-2" type="button">
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
