<div class="backdrop is-hidden" data-modal>
  <!-- sign up modal -->
  <div class="register-modal modal">
    <button class="close-button" type="button" data-close-modal>
      <!-- add svg -->
      x
    </button>

    <form id="registration-form" class="registration-form">
      <!-- Maybe add label -->
      <div class="input-wrapper">
        <input
          class="input-field"
          type="text"
          name="name"
          placeholder="Name"
          id="singup-name"
          required
        />
      </div>

      <div class="input-wrapper">
        <input
          class="input-field"
          type="email"
          name="email"
          placeholder="Email"
          id="singup-email"
          required
        />
        <!-- svg -->
        <div class="input-svg">img</div>
      </div>

      <div class="input-wrapper">
        <input
          class="input-field"
          type="password"
          name="password"
          placeholder="Password"
          id="singup-password"
        />
        <!-- svg -->
        <div class="input-svg">img</div>
      </div>

      <button class="form-button signup-button" type="submit">Sign up</button>

      <div class="toggle-buttons">
        <button class="toggle-button active" type="button">Sign up</button>
        <button class="toggle-button" type="button">Sign in</button>
      </div>
    </form>
  </div>

  <!-- sign in modal -->
</div>
