@import url('./utils');
@import url('./base');
@import url('./components');
/* @import url('./layout'); */

.bookshelf {
  width: 100%;
  min-height: 300px;
}

.modal-scroll {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 8px;
}
